doctype html
html
    include ./includes/head_login.jade
    body
      .content
        .headline
          h1#activation Thanks for joining Bookmarko :)
        .subline
          h3 You will need to activate your account before you can login. Please follow the link below to activate your account. 
        .button activate now
          input(type="submit" id="submit_login")
    footer
      .footerContent
        .copyright
          p © 2016 bookmarko.me | All Rights Reserved.
        .madeBy
          p Made by  <b>Gobie Nanthakumar</b>
    include ./includes/script_register.jade
