head
    title Bookmarko
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport")
    meta(property="og:title" content="Bookmarko | A Fancy Way To Manage Your Bookmarks.")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://bookmarko.me/")
    //meta(property="og:image" content="https://getstencil.com/app/static/images/backgrounds/og.png")
    meta(property="og:site_name" content="Bookmarko")
    //meta(property="og:description" content="Stencil lets you add text to any image from anywhere on the web")
    //meta(name="description" content="Ridiculously simple image creation for social media marketers, bloggers and small businesses.")
    link(rel="stylesheet" href="../css/marka.min.css")
    link(rel="stylesheet",href="../css/style.css")
    link(rel="stylesheet",href="../css/jquery.gridster.css")
    link(rel="stylesheet",  media='(max-width: 1680px)', href="../css/style_medium.css")
    link(rel="stylesheet",  media='(max-width: 1200px)', href="../css/style_small.css")
    link(rel="stylesheet",  media='(max-width: 900px)', href="../css/style_mobile.css")
    link(href='https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,700,800,900' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
