nav(style='visibility: hidden;')
  h2  Bookmarko
  ul
    li
      .icon
        i(class="fa fa-cog" aria-hidden="true")
      a(href="#") Settings
    li
      .icon
        i(class="fa fa-envelope-o" aria-hidden="true")
      a(href="#") Contact
    li#logout
      .icon
        i(class="fa fa-sign-out" aria-hidden="true")
      a(href="#") Logout
  footer
    .madeBy
      p Made by  <b>Gobie Nanthakumar</b>
    .copyright
      p © 2016 bookmarko.me | All Rights Reserved.
