.window.search_img.hidden
  .content
    .header
      .titel
        p Select your thumbnail
    .input
      input(id="search_img" type="text" placeholder="Search..." autofocus)
      .save upload
        input(type="button" onclick="openUploadWindow()")
    ul#thumbnails
  .close
    i(class="fa fa-times" aria-hidden="true")
    input(type="button" onclick="closeSearchImgWindow()")
