head
	title Bookmarko - Register
	meta(charset="UTF-8")
	meta(content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport")
	//link(rel="stylesheet" href="./css/marka.min.css")
	link(rel="stylesheet",href="../css/style_register.css")
	//link(rel="stylesheet",  media='(max-width: 1600px)', href="./css/style_medium.css")
	//link(rel="stylesheet",  media='(max-width: 1200px)', href="./css/style_small.css")
	link(href='https://fonts.googleapis.com/css?family=Raleway:200,400,700' rel='stylesheet' type='text/css')
	link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
